.anniversaries {
  width: 100%;
  height: 100%;

  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.anniversaries .anniversary + .anniversary {
  margin-left: 1em;
}

.anniversaries .day {
  font-size: 0.9em;
}

.anniversaries .name {
  font-weight: 500;
}

.anniversaries .none {
  font-size: 0.9em;
}
