.anniversaries-form .grid {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 12px;
}

.anniversaries-form .grid .label {
  padding-bottom: 0;
  margin-bottom: -6px;
  font-weight: 500;
}

.anniversaries-form .grid .help {
  padding-top: 0;
  margin-top: -6px;
}
