.entur {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  row-gap: 0.25em;
  font-size: 24px;
  position: relative;
  overflow: hidden;
}

.entur .title {
  flex-shrink: 0;
  text-align: center;
  font-size: 1.33em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.entur .departure {
  display: flex;
  gap: 0.5em;
}

.entur .code {
  flex-shrink: 0;
  width: 2.5em;
  text-align: center;
  font-weight: 500;
  border-radius: 0.125em;
}

.entur .destination {
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.entur .time {
  flex-shrink: 0;
  padding-right: 0.5em;
}

.entur .fade {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.5em;
  background: linear-gradient(transparent, var(--z-foreground));
}
