.yr {
  width: 100%;
  height: 100%;
}

.yr .grid {
  stroke: var(--z-border);
  stroke-width: 2;
  fill: none;
}

.yr .labels {
  stroke: none;
  fill: var(--z-text-body);
  font-size: 24px;
  font-weight: 500;
  text-anchor: middle;
  dominant-baseline: central;
}

.yr .precipitation {
  stroke: #3276db;
  fill: #3276db80;
}

.yr .temperature {
  stroke-width: 6;
  fill: none;
}

.yr .temperature-hot {
  stop-color: #db3a32;
}

.yr .temperature-cold {
  stop-color: #3276db;
}
