.board-grid {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template: repeat(36, 1fr) / repeat(36, 1fr);
  gap: 12px;

  padding: 12px;
  background: var(--z-background);
  overflow: hidden;
}

.board-grid > * {
  padding: 12px;
  background: var(--z-foreground);
  border: 1px solid var(--z-border);
  border-radius: 6px;
  overflow: hidden;
}

.board-grid > *.selected {
  outline: 2px solid var(--z-input-active-border);
}

.board-grid > *.preview {
  background: var(--z-input-active-fill);
  opacity: 0.5;
  padding: 0;
}
